/* Section_01 CSS starts from here */

.first_section{
    padding: 189px 0 181px;
    background-image: url("./Images/Rectangle\ 176.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 4;
    border-left: 1px solid  #96f1b8;
    border-right: 1px solid  #96f1b8;
}
.first_section::after{
    background-image: url("./Images/over.png");
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   z-index: -1;
   pointer-events: auto;
}

.first_section .first_section_content .form_section{
    background-color: #F8FEF9;
    
    padding: 50px 71px 27px 67px;
    border-radius: 57px;
    
}
.first_section .first_section_content  .first_section_top_heading{
    margin-bottom: 69px;
}
.first_section .first_section_content  .form_section{
    display: flex;
    gap:35px;
    align-items: center;
}
.first_section .first_section_content  .form_section .form_right_section input {
    width:95%;
    margin-bottom: 14px;
    padding: 13px 10px 13px 25px;
    border-radius: 16.512px;
    border-bottom: 0.953px solid #4BED87;
    background: #FFF;
    border-top: none;
    border-right: none;
     border-left: none;


    
    
}
/* .first_section .first_section_content  .form_section .form_right_section input:focus{
    border-color: black;
} */

.first_section .first_section_content  .form_section .form_right_section textarea {
    width:95%;
    margin-bottom: 20px;
    border-radius: 16.512px;
    border-bottom: 0.953px solid #4BED87;
    border-top: none;
    border-right: none;
     border-left: none;
     padding: 13px 0 33px 25px;
     resize: none;
}
.first_section .first_section_content  .form_section .form_left_section{
    flex-basis: 70%;
}
/* .first_section .first_section_content  .form_section .form_right_section .button_styling{
    background-color: #2B6459;
} */


.button_styling input[type="submit"]{
    border-radius: 23px;
    background: #2B6459 !important;
    color: #fff;
    display: inline-block;
     max-width: 173px; 
    text-align: center;
     padding:10px !important ; 
    border: 1px solid transparent ; 
    transition: all 0.3s ease-in ;
    margin-bottom: 0 !important;
    /* padding: 0 !important; */
    border: 1px solid #2B6459 !important; 
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
    font-size: 14.639px;



}

.button_styling input[type="submit"]:hover{
 background: #fff !important;
  color: #2B6459 !important;
  transition: all 0.3s ease-in !important;
  border: 1px solid #2B6459 !important; 

 

}
.first_section .first_section_content  .form_section .form_right_section .button_styling{
    text-align: center;
}
/******Media queries *************/
@media(max-width:1024px){
    .first_section{
        padding: 80px 0;
}

.first_section .first_section_content  .first_section_top_heading{
    margin-bottom: 59px;
}
}
@media(max-width:767px){
    .first_section{
        padding: 60px 0;
}
.first_section .first_section_content  .first_section_top_heading{
    margin-bottom: 30px;
}
.first_section .first_section_content  .form_section{
    flex-direction: column;
}
.first_section .first_section_content .form_section{
    padding: 30px 40px 23px 30px;
}
.large p {
   font-size: 26px;
   
}
.small p {
    font-size: 16px;
   
}
}





/************************Section-02 CSS starts from here*****************/
.second_section{
    padding:118px 0;
    background: #008080;
    border-left: 3px solid  #96f1b8;
    border-right: 3px solid  #96f1b8;
}

.second_section .second_section_content .all_content .left_content .first_bottom_content{
    display: flex;
    
    gap:6%;
  

}
.second_section .second_section_content .all_content .left_content .top_two_subpart p>span{
    color: #00ff5f;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;


}
.second_section .second_section_content .all_content .left_content .first_bottom_content .mark{
    display: flex;
    gap:14px;
    
}
.second_section .second_section_content .all_content{
    display: flex;
    justify-content: space-between;
}
.second_section .second_section_content .all_content .right_content{
   width:40%;
    margin-top: 62px;
 }
 .second_section .second_section_content .all_content .left_content{
    flex-basis: 48%;

 }
 .second_section .second_section_content .all_content .left_content .first_bottom_content .for_padding{
    margin-top:40px;
 }




 .top_color{
 
    background-color: #96f1b8;;
   padding: 77px 0  0 85px;
 }

/* 
@media(max-width:1178px){
    .second_section{
        padding:60px 0;
 }
 .second_section .second_section_content .all_content .left_content{
    flex-basis: 63%;

 }
 .second_section .second_section_content .all_content .right_content{
   
    width:67%;

}
.second_section .second_section_content .all_content {
    gap:20px;
}
}
@media(max-width:1156px){
    .second_section{
        padding:60px 0;
 }
} */
@media(max-width:1023px){
    .second_section .second_section_content .all_content .right_content{
   
        width:70%;
    }
    .second_section{
        padding:80px 0;
 }
 
  .top_color{
 
  
   padding: 60px 0  0 60px;
 }

 }
 .top_two p {
    
    font-size: 32px;
    
  }
  .second_section .second_section_content .all_content .left_content .top_two_subpart p>span{
   
  font-size: 33px;
 


}
.top_four p {
    
    font-size: 20px;
   
    
  }
   


@media(max-width:1025px){
    .second_section .second_section_content .all_content .right_content{
   
        width:50%;
    }
}


@media(max-width:767px){
    .second_section{
        padding:60px 0;
 }
 .second_section .second_section_content .all_content{
    flex-direction: column;
 }
 .second_section .second_section_content .all_content .right_content{
   
    width:100%;
}
 .top_color{
 
  
   padding: 40px 0  0 40px;
 }
.top_two p {
    
    font-size: 30px;
    
  }
  .second_section .second_section_content .all_content .left_content .top_two_subpart p>span{
   
  font-size: 30px;
 


}
.top_four p {
    
    font-size: 19px;
   
    
  }
   
  }


/* .second_section{
    padding:151px 0;
    background-color: #F8F8F8;
}
.second_section .second_section_content .horizontal_style{
    display:flex;
    margin-bottom: 46px;
}
.second_section .second_section_content .horizontal_style .year{
    width:30%;
}
.second_section .second_section_content .second_section_heading{
    margin-bottom: 49px;
}
.second_section .second_section_content .second_section_rows{
    display:flex;
    gap:30px;
    text-align: center;
}
.second_section .second_section_content .second_section_rows .content{
    overflow:hidden;
    flex-basis: 31%;
    background-color: #F7F7F7;
  
    border: 1px solid black;

/********************Section-03 Custom CSS starts from here***********************/
.third_section{
    background-color: #FFFFFF;
    padding:100px 0 170px;
}
.third_section .third_section_content .third_section_heading{
    margin-bottom: 85px;
}
.third_section .third_section_content .third_section_cards .rows  .card{
    /* max-width: 371.69px;
    width: 100%; */
    overflow:hidden;
    flex-basis: 31%;
    background-color: #F7F7F7;
    border-radius: 30px 30px 24px 24px;
}


.third_section .third_section_content .third_section_cards .rows{
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
    justify-content: center;

}
.third_section .third_section_content .third_section_cards .rows  .card .card_image_1{
   
    background-image: url(./Images/Rectangle\ 186.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 277px;
    position: relative;

}
.third_section .third_section_content .third_section_cards .rows  .card .card_image_2{
   
     
    background-image: url(./Images/Rectangle\ 184.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 277px;
    position: relative;
    

}
.third_section .third_section_content .third_section_cards .rows  .card .middle_content{
    padding: 34px 37px 20px 36px;
}
.third_section .third_section_content .third_section_cards .rows  .card .card_footer{
    display:flex;
    /* flex-wrap: wrap; */
    gap:15px;
    padding: 0 0 31px 36px;
}
/*******Media Queries */
@media(max-width:1200px) {
    .third_section .third_section_content .third_section_cards .rows  .card{
        flex-basis: 28%;
    }
    
}
@media(max-width:1024px) {
    .third_section .third_section_content .third_section_cards .rows  .card{
        flex-basis: 47%;
    }
    .third_section{
       padding:80px 0 80px;
    }
    .third_section .third_section_content .third_section_heading{
        margin-bottom: 65px;
    }
    .third_section .third_section_content .third_section_cards .rows{
      gap: 27px;
    
}
}
@media(max-width:767px) {
    .third_section .third_section_content .third_section_cards .rows  .card{
        flex-basis: 100%;
    }
    .third_section{
       padding:60px 0 60px;
    }
    .third_section .third_section_content .third_section_heading{
        margin-bottom: 55px;
    }
    .third_section .third_section_content .third_section_cards .rows{
       gap: 17px;
    }
       .third_section .third_section_content .third_section_cards .rows  .card .middle_content{
        padding: 14px 37px 20px 36px;
    }
}
