
/* @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html {
  overflow-x: hidden;
}

body {
  background-color: #fff;
  margin: 0px auto;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
  color: #14263b;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  float: none;
}

*,
*::before,
*::before,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
address,
strong {
  margin: 0;
  padding: 0;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}

img {
  max-width: 100%;
  width:auto;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  text-transform: initial;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-bottom: 15px;
  color: #14263b;
}

h1 {
  color: #FFF;
  margin-bottom: 0;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

h3 {
  color: var(--dark-blue, #14263B);
  margin-bottom: 0;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
}

h2 {
  color: #000;
  margin-bottom: 0;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;


}
h4{
color: var(--dark-blue, #14263B);

margin-bottom: 11px;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* h4 {
  color: var(--dark-blue, #14263B);
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} */

h5 {
  color: #48DE80;
  margin-bottom: 11px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}


h6 {
  color: var(--dark-blue, #14263B);
  margin-bottom: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
/* p{
 
  color: var(--dark-blue, #14263B);
 
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} */
.half_heading{
color: var(--dark-blue, #48DE80);

font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.second_section_heading{
color: #48DE80;
font-size: 38px;
font-weight: 500;

}
.year_1 p{
color: #FFF;
font-size: 20px;
font-weight: 500;
margin-bottom: 0;
border-radius: 50px;
border: 1px solid #FFF;
background: #00CFDC;
/* width:30%; */
text-align: center;

}
.year_2 p{
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  border-radius: 50px;
  border: 1px solid #FFF;
  background: #14D6C3;
  /* width:30%; */
  text-align: center;
  
  }
  .year_3 p{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    border-radius: 50px;
    border: 1px solid #FFF;
    background: #2CDDA6;
    /* width:30%; */
    text-align: center;
    
    }
    .year_4 p{
      color: #FFF;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 0;
      border-radius: 50px;
      border: 1px solid #FFF;
      background: #48E783;
      
      /* width:30%; */
      text-align: center;
      
      }
.small p{
  color: var(--dark-blue, #14263B);
 
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

.medium p {
  color: var(--neutral-colors-color-600, #6E6C83);
 
  /* font-feature-settings: 'clig' off, 'liga' off; */
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}

.large p {
  color: var(--dark-blue, #14263B);
  
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.smallest p{
  color: var(--text-color, #676E88);
  margin-bottom: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.bottom_paragraph p{
 
  color: var(--dark-blue, #14263B);
  margin-bottom: 0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
/* p.bottom_paragraph_duration{
  color: var(--dark-blue, #14263B);

font-size: 10.838px;
font-style: normal;
font-weight: 400;
line-height: 19.744px;
} */

b {
  font-size: 22px;
  font-weight: 600;
  color: #14263b;
}

address {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  color: #fff;
}

label {
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  color: #666;
}

::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  color: #666;
}

::-moz-placeholder {
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  color: #666;
}

::-ms-input-placeholder {
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  color: #666;
}

::placeholder {
color: #949494;
font-family: "DM Sans", sans-serif;
font-size: 15.643px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

a {
color: #0B3694;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.356px;
  /* font-size: 14px;
  font-style: normal;
  color: #fff;
  font-weight: 600;
  line-height: 140%;
  transition: all 0.4s ease-in; */
}

a:hover {
  transition: all 0.4s ease-in;
  color: #0B3694;
}

a.cta_button {
  background:  #0B3694;
  color: #fff;
  /* text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; */
  padding: 20px 34px;
  transition: all 0.3s ease-in;
  display: inline-block;
  text-decoration: none;


color: #FFF;
text-align: center;

font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 17px; /* 100% */
text-transform: uppercase;
}

a.cta_button:hover {
  background: #fff;
  color:#0B3694;
  transition: all 0.3s ease-in;
}

button {
  background:#2B6459;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px 34px;
  transition: all 0.3s ease-in;
  display: inline-block;
  text-decoration: none;
  border: none;
  position: relative;
  z-index: 2;
  border: 1px solid #2B6459;
  border-radius: 10px;
  /* background: transparent; */
}

button:hover {
  background: #fff;
  color: #2B6459;
  transition: all 0.3s ease-in;
  border: 1px solid #2B6459; 
}

/* Table Styling */

/* Form Styling */

/* ul-li Styling */
.placeholder{
  color: #949494;
  font-size: 15.643px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Global classes */

.all-text-white,
.all-text-white h1,
.all-text-white h2,
.all-text-white h3,
.all-text-white p,
.all-text-white h4,
.all-text-white h5,
.all-text-white h6,
.all-text-white li,
.all-text-white .fa,
.all-text-white a {
  color: #fff;
}

.text-margin-zero h1,
.text-margin-zero h2,
.text-margin-zero h3,
.text-margin-zero p,
.text-margin-zero h4,
.text-margin-zero h5,
.text-margin-zero h6,
.text-margin-zero .fa,
.text-margin-zero a {
  margin: 0;
}

.base-color-text h1,
.base-color-text h2,
.base-color-text h3,
.base-color-text p,
.base-color-text h4,
.base-color-text h5,
.base-color-text h6,
.base-color-text .fa,
.base-color-text a {
  color: #14263b;
}

.overlay {
  position: relative;
  z-index: 1;
}

.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #14263b;
  opacity: 0.8;
  z-index: -1;
}

.flex {
  display: flex;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*Responsive Styling */

 @media (max-width: 767px) {
  h1 {
    font-size: 60px;
    line-height: 120%;
    
  }

  h2 {
    font-size: 34px;
   
  }

  h3 {
    font-size: 34px;
   
  }

  h4 {
    font-size: 22px;
   
  }

  h5 {
    font-size: 11px;
   
  }

  h6 {
    font-size: 10px;
    line-height: 17px;
  }
 
}


/* Section-02  */

.top_one p {
  color: #00ff5f;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.top_two p {
  /* width: 581px; */
  color: #fff;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
}

.top_two_subpart span {
  color: #00ff5f;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.top_three p {
  color: #00ff5f;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 9px;
}
.top_four p {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 35px;
}
.top_five p {
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
